.std_span {
    height: 50px;
    min-width: 200px;
    padding: 10px 40px;
    border: 1px solid #747272;
    text-align: center;
}

.std_span:hover {
    background-color: var(--violet);
    cursor: pointer;
}

.std_span {
    color: white;
    font-weight: 200;
}