:root {
  --violet: #5a58c6;
  --black: #0F0C0C;
  --matt-black: #1A1818;
  --dark-gray: #454343;
  --gray: #cacaca;
  --hl: #707070;
  --vl: #1A1818;
  --vl2: #454343;
}

* {
  background-color: var(--black);
}

@font-face {
  font-family: 'Work Sans';
  src: url('./WorkSans/WorkSans-Black.ttf') format('ttf');
}

.text_video {
  color: var(--dark-gray);
}

.calendly-inline-widget {
  min-width: 320px;
  height: 630px;
  background-color: white;
}

.title {
  font-family: "Work Sans";
  font-weight: 400;
}
.title_color {
  font-family: "Work Sans";
  font-weight: 400;
  color: var(--violet);
}

.text {
  font-family: "Work Sans";
}