:root {
  --violet: #5a58c6;
  --black: #0F0C0C;
  --matt-black: #1A1818;
  --dark-gray: #454343;
  --gray: #cacaca;
  --hl: #707070;
  --vl: #1A1818;
  --vl2: #454343;
}

* {
  background-color: var(--black);
  font-family: 'Work Sans', sans-serif;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../public/WorkSans/WorkSans-Black.ttf') format('ttf');
}

.nav_bar {
  background-color: var(--black);
}

.text_video {
  color: var(--dark-gray);
}

.calendly-inline-widget {
  min-width: 320px;
  height: 630px;
  background-color: white;
}

.title {
  font-weight: 700;
}
.title_color {
  margin-top: -10px;
  color: var(--violet);
}